<header class="home-header">
  <div class="container">
    {% include logo.html %}

    <div class="text-grey description">
      세상에 로그를 남기고 싶은 풀스택 개발자 / tk2rush90
    </div>

    <div class="links">
      <a
        href="https://github.com/tk2rush90"
        class="text-grey"
        target="_blank"
        rel="nofollow noopener noreferrer">
        Github
      </a>

      <a
        href="https://www.topcoder.com/members/tk2rush90"
        class="text-grey"
        target="_blank"
        rel="nofollow noopener noreferrer">
        Topcoder
      </a>
    </div>

    <div class="routes">
      <a href="{{ 'projects' | absolute_url }}" class="text-grey search">
        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8.735" viewBox="0 0 5 8.735">
          <path
            id="Path_153"
            data-name="Path 153"
            d="M7.183,11.176a.582.582,0,0,0,.824,0l3.868-3.868a.464.464,0,0,0,0-.656L8.007,2.784a.583.583,0,0,0-.824.824l3.37,3.375L7.178,10.357A.58.58,0,0,0,7.183,11.176Z"
            transform="translate(-7.011 -2.612)" fill="#fa4940"/>
        </svg>

        <span>
          Projects
        </span>
      </a>

      <a href="{{ 'search' | absolute_url }}" class="text-grey search">
        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8.735" viewBox="0 0 5 8.735">
          <path
            id="Path_153"
            data-name="Path 153"
            d="M7.183,11.176a.582.582,0,0,0,.824,0l3.868-3.868a.464.464,0,0,0,0-.656L8.007,2.784a.583.583,0,0,0-.824.824l3.37,3.375L7.178,10.357A.58.58,0,0,0,7.183,11.176Z"
            transform="translate(-7.011 -2.612)" fill="#fa4940"/>
        </svg>

        <span>
          Search
        </span>
      </a>
    </div>
  </div>
</header>
