<!-- navigation -->

{% if page.layout == 'home' %}
{% assign home_class = 'active' %}
{% endif %}

{% if page.layout == 'search' %}
{% assign search_class = 'active' %}
{% endif %}

<nav class="navigation">
  <ul>
    <li>
      <a class="{{ home_class }}" href="{{ '/' | absolute_url }}">
        <span>
          Home
        </span>

        <div class="underline"></div>
      </a>
    </li>

    <li>
      <a class="{{ search_class }}" href="{{ '/search' | absolute_url }}">
        <span>
          Search
        </span>

        <div class="underline"></div>
      </a>
    </li>
  </ul>

  <div class="underline"></div>
</nav>
