<div class="post-header">
  <div class="container">
    <div class="post-header-actions">
      {% include logo.html %}

      <div class="button">
        <!-- menu button -->
        <svg class="menu" xmlns="http://www.w3.org/2000/svg" width="18" height="13" viewBox="0 0 18 13">
          <g id="Group_114" data-name="Group 114" transform="translate(-728 -22)">
            <rect id="Rectangle_35" data-name="Rectangle 35" width="18" height="1" transform="translate(728 22)"
                  fill="#303030"/>
            <rect id="Rectangle_39" data-name="Rectangle 39" width="18" height="1" transform="translate(728 28)"
                  fill="#303030"/>
            <rect id="Rectangle_40" data-name="Rectangle 40" width="18" height="1" transform="translate(728 34)"
                  fill="#303030"/>
          </g>
        </svg>

        <!-- close button -->
        <svg class="close" xmlns="http://www.w3.org/2000/svg" width="13.707" height="13.707"
             viewBox="0 0 13.707 13.707">
          <g id="Group_115" data-name="Group 115" transform="translate(-730.146 -26.146)">
            <line id="Line_1" data-name="Line 1" x1="13" y2="13" transform="translate(730.5 26.5)" fill="none"
                  stroke="#303030" stroke-width="1"/>
            <line id="Line_2" data-name="Line 2" x2="13" y2="13" transform="translate(730.5 26.5)" fill="none"
                  stroke="#303030" stroke-width="1"/>
          </g>
        </svg>
      </div>
    </div>

    <div class="post-header-table-of-content hidden">
      {% include table-of-content.html %}
    </div>
  </div>
</div>

<script>
  (() => {
    const postHeader = document.querySelector('.post-header');

    window.addEventListener('scroll', handleWindowScroll);

    handleWindowScroll();

    /**
     * Handle window scroll to add / remove `scrolled` class.
     */
    function handleWindowScroll() {
      if (postHeader) {
        if (window.scrollY > 0) {
          postHeader.classList.add('scrolled');
        } else {
          postHeader.classList.remove('scrolled');
        }
      }
    }

    const button = document.querySelector('.post-header .button');
    const headerTableOfContent = document.querySelector('.post-header .post-header-table-of-content');

    button.addEventListener('click', handleButtonClick);

    /**
     * Handle button click to expand / collapse the table of contents.
     */
    function handleButtonClick() {
      if (button.classList.contains('opened')) {
        closeTableOfContents();
      } else {
        openTableOfContents();
      }
    }

    function openTableOfContents() {
      button.classList.add('opened');

      if (headerTableOfContent) {
        headerTableOfContent.classList.remove('hidden');
      }
    }

    function closeTableOfContents() {
      button.classList.remove('opened');

      if (headerTableOfContent) {
        headerTableOfContent.classList.add('hidden');
      }
    }

    setTimeout(() => {
      if (headerTableOfContent) {
        const contents = headerTableOfContent.querySelectorAll('.content');

        contents.forEach(content => {
          content.addEventListener('click', () => closeTableOfContents());
        });
      }
    })
  })();
</script>
