<div class="search-header">
  <div class="container">
    {% include logo.html %}

    <div class="input">
      <!-- svg -->
      <svg xmlns="http://www.w3.org/2000/svg" width="13.207" height="13.207" viewBox="0 0 13.207 13.207">
        <circle cx="5" cy="5" r="4.5" fill="none" stroke="#777" stroke-width="1"/>
        <line id="Line_3" data-name="Line 3" x2="4" y2="4" transform="translate(8.5 8.5)" fill="none"
              stroke="#777" stroke-linecap="round" stroke-width="1"/>
      </svg>

      <!-- input -->
      <input placeholder="검색어를 입력하세요"/>
    </div>
  </div>
</div>
