@import "mixins";
@import "props";

// home header
.home-header {
  @include flex(center, null, column);
  @include padding(63px 0);
  background-color: $white;
  text-align: center;

  // description
  .description {
    margin-top: 10px;
    line-height: 13px;
  }

  // links
  .links {
    @include flex(center, null, column);
    margin-top: 30px;

    a {
      text-decoration: underline;
      font-size: 13px;
      line-height: 18px;

      &:hover {
        color: $night-rider;

        @include screen-under(767px) {
          color: $grey;
          animation: link-blink .5s;
        }
      }
    }

    a + a {
      margin-top: 7px;
    }

    .winnings {
      @include flex(center, center);
      margin-top: 7px;
      color: $grey;
      font-size: 13px;

      span + span {
        margin-left: 10px;
      }

      em {
        font-style: normal;
        color: $sunset-orange;
      }
    }

    .loading {
      @include flex(center, center);
      height: 18px;
      margin-top: 7px;

      span {
        @include ball(4px);
        display: block;
        background-color: $black;
        animation-name: loading;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        opacity: 0;

        &:nth-child(2) {
          animation-delay: .3s;
        }

        &:nth-child(3) {
          animation-delay: .6s;
        }
      }

      span + span {
        margin-left: 5px;
      }
    }
  }
}

@keyframes loading {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes link-blink {
  0% {
    color: $grey;
  }

  50% {
    color: $night-rider;
  }

  100% {
    color: $grey;
  }
}
