@import "mixins";
@import "props";

// home header
.home-header {
  background-color: $white;

  .container {
    @include flex(center, null, column);
    @include padding(63px 0);
    position: relative;
    text-align: center;
  }

  // description
  .description {
    margin-top: 10px;
    line-height: 13px;
  }

  // links
  .links {
    @include flex(center, null, column);
    margin-top: 30px;

    a {
      text-decoration: underline;
      font-size: 13px;
      line-height: 18px;

      &:hover {
        color: $night-rider;

        @include screen-under(767px) {
          color: $grey;
          animation: link-blink .5s;
        }
      }
    }

    a + a {
      margin-top: 7px;
    }
  }

  .search {
    @include flex(center);
    position: absolute;
    right: 0;
    bottom: 20px;
    font-size: 13px;

    &:hover {
      color: $night-rider;

      @include screen-under(767px) {
        color: $grey;
        animation: link-blink .5s;
      }

      svg {
        circle, line {
          stroke: $night-rider;
        }
      }
    }

    svg {
      margin-left: 5px;
    }
  }
}

@keyframes link-blink {
  0% {
    color: $grey;
  }

  50% {
    color: $night-rider;
  }

  100% {
    color: $grey;
  }
}
