@import "mixins";
@import "props";

.left-column {
  @include padding(50px);
  @include border-right(1px solid rgba($black, .15));
  position: sticky;
  top: 0;
  height: 100%;

  @include screen-under(1060px) {
    @include padding(30px 60px 20px);
    position: sticky;
    top: 0;
    height: auto;
    z-index: 100;
    background-color: rgba($white, .5);
    backdrop-filter: blur(10px);
    box-shadow: 0 3px 6px rgba($black, .15);
  }

  @include screen-under(767px) {
    @include padding(15px 10px);
  }
}
