@import "mixins";
@import "props";

.navigation {
  @include rect(100%, 45px);
  position: relative;

  ul {
    @include flex();
    @include box(100%);
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      position: relative;
      height: 100%;
      display: block;

      a {
        @include flex(center);
        height: 100%;
        color: rgba($black, .3);

        > .underline {
          @include bottom-left;
          @include rect(100%, 1px);
          position: absolute;
          background-color: $black;
          opacity: 0;
        }

        &.active {
          color: $black;

          > .underline {
            opacity: 1;
          }
        }
      }
    }

    li + li {
      margin-left: 20px;
    }
  }

  > .underline {
    @include bottom-left;
    @include rect(100%, 1px);
    position: absolute;
    background-color: rgba($black, .15);
  }
}
