@import "mixins";
@import "props";

.other-posts {
  @include padding-top(50px);
  @include border-top(1px solid $whisper);
  margin-top: 50px;
  display: block;

  a {
    display: block;

    &[href=''] {
      pointer-events: none;
    }

    &:not([href='']) {
      color: $night-rider;

      &:hover {
        text-decoration: underline;
      }
    }

    span {
      color: $night-rider;
    }
  }

  a + a {
    margin-top: 10px;
  }
}
