@import "mixins";
@import "props";

.owner-info {
  @include screen-under(1060px) {
    @include flex(center, space-between);
  }

  .owner-profile {
    @include screen-under(1060px) {
      @include flex(center);
    }

    @include screen-under(767px) {
      // total - icon-width - margin
      width: calc(100% - 24px - 20px);
    }
  }

  .owner-description {
    @include screen-under(1060px) {
      margin-left: 10px;
    }

    @include screen-under(767px) {
      // total - thumbnail-width - margin
      width: calc(100% - 60px - 10px);

      a, p {
        font-size: 14px;
      }

      p {
        margin-top: 0;
      }
    }

    @include screen-under(374px) {
      p {
        display: none;
      }
    }
  }

  img {
    @include ball(125px);
    @include border(1px solid rgba($black, .15));
    margin: 0 auto;

    @include screen-under(1060px) {
      @include ball(60px);
    }

    @include screen-under(767px) {
      @include ball(40px);
    }
  }

  p {
    margin: 0;
    width: 170px;

    @include screen-under(1060px) {
      width: auto;
    }
  }

  a {
    display: block;
  }

  p, a {
    margin-top: 15px;

    @include screen-under(1060px) {
      margin: 0;
    }
  }

  p {
    @include screen-under(1060px) {
      margin-top: 5px;
    }
  }

  .name {
    text-align: center;

    @include screen-under(1060px) {
      text-align: left;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .link {
    display: inline-flex;
    align-items: center;

    @include screen-under(767px) {
      margin-left: 20px;
    }

    span {
      margin-left: 5px;

      @include screen-under(1060px) {
        display: none;
      }
    }

    &:hover {
      span {
        text-decoration: underline;
      }
    }
  }

  .image-link {
    margin-top: 0;
  }
}
