@import "mixins";
@import "props";

.paginator {
  @include flex(center, center);
  margin-top: 50px;

  .divider {
    @include rect(1px, 15px);
    background-color: $silver;
    margin: 0 30px;
  }

  a {
    font-size: 13px;

    &[href=''] {
      pointer-events: none;
    }

    &:not([href='']) {
      color: $night-rider;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
