@import "mixins";
@import "props";

.post-title-header {
  background-color: $white;
  text-align: center;

  .container {
    @include padding(40px 0 60px);
    @include flex(center, null, column);
    width: 100%;
    max-width: 1200px;

    @include screen-under(767px) {
      max-width: calc(100% - 40px);
    }
  }

  h1 {
    font-weight: 400;
    font-size: 30px;
  }

  .divider {
    @include rect(200px, 1px);
    background-color: $whisper;
    margin-top: 20px;
  }

  .date {
    margin-top: 5px;
    font-size: 13px;
  }
}
