@import "mixins";
@import "props";

.post-list {
  .item {
    @include padding-bottom(50px);
    @include border-bottom(1px solid $whisper);
    display: block;

    &:hover {
      h2 {
        color: $valencia;
      }
    }
  }

  .item + .item {
    margin-top: 50px;
  }

  h2 {
    font-size: 28px;
    font-weight: 400;
  }

  .date {
    margin-top: 10px;
    font-size: 13px;
  }

  .description {
    margin-top: 30px;
    line-height: 1.8em;
  }
}
