@import "mixins";
@import "props";

.post-header {
  position: sticky;
  background-color: $white;
  z-index: 100;
  top: 0;
  left: 0;

  &.scrolled {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  }

  .post-header-actions {
    @include flex(center, space-between);
    width: 100%;
    height: 70px;
  }

  .button {
    display: none;
    cursor: pointer;
    user-select: none;

    @include screen-under(1200px) {
      display: block;

      &:not(.opened) {
        .close {
          display: none;
        }

        .menu {
          display: block;
        }
      }

      &.opened {
        .close {
          display: block;
        }

        .menu {
          display: none;
        }
      }
    }
  }

  .post-header-table-of-content {
    .table-of-content {
      display: block;
      margin-left: 0;
      width: 100%;

      .contents {
        @include padding(20px 0);
        @include border-left(none);
        @include border-top(1px solid $whisper);
      }
    }
  }
}
