@import "mixins";
@import "props";

.projects {
  > .container {
    @include padding(50px 0);
    @include flex(flex-start, flex-start);
    max-width: 1035px;

    @include screen-under(1200px) {
      max-width: 680px;
    }

    @include screen-under(767px) {
      max-width: 325px;
    }

    .project-link {
      @media screen and (min-width: 1201px) {
        @include flex-grid(30px, 3);

        &:nth-child(n + 4) {
          margin-top: 50px;
        }
      }

      @media screen and (min-width: 768px) and (max-width: 1200px) {
        @include flex-grid(30px, 2);

        &:nth-child(n + 3) {
          margin-top: 50px;
        }
      }

      @media screen and (max-width: 767px) {
        @include flex(center, null, column);

        + .project-link {
          margin-top: 50px;
        }
      }
    }
  }
}
