@import "mixins";
@import "props";

.project-link {
  @include border(1px solid rgba($black, .15));
  background-color: $white;
  width: 325px;

  a {
    width: 100%;
  }

  .thumbnail-link {
    @include border-bottom(1px solid rgba($black, .15));
    position: relative;
    display: block;
    width: 100%;
    height: 180px;

    img {
      @include box(100%);
      @include top-left;
      border: none;
      position: absolute;
      object-fit: cover;
      display: block;
      box-sizing: border-box;
      margin: 0;
      max-width: none;
    }

    &.empty {
      @include flex(center, center);
      text-align: center;
      font-size: 18px;
      word-break: break-word;
      color: $white;
      background-color: $night-rider;
    }
  }

  .site-info {
    display: block;
    padding: 20px;
  }

  .site-name {
    transition: color .1s;
  }

  .site-url {
    font-size: 13px;
    line-height: 1.4em;
    color: rgba(0, 0, 0, .5);
    word-break: break-all;
    margin-top: 5px;
  }

  &:hover {
    .site-name {
      text-decoration: underline;
    }
  }
}

