$black: #000;
$white: #fff;
$riptide: #86E3D4;
$alice-blue: #F3F6FA;
$blue-bayoux: #567482;
$patterns-blue: #DCE6F0;
$patterns-blue2: #E9EBEC;
$aluminium: #819198;
$solitude: #EFF0F1;
$neon-blue: #3C4EF7;
