$black: #000;
$white: #fff;
$riptide: #86E3D4;
$alice-blue: #F3F6FA;
$blue-bayoux: #567482;
$patterns-blue: #DCE6F0;
$patterns-blue2: #E9EBEC;
$aluminium: #819198;
$solitude: #EFF0F1;
$neon-blue: #3C4EF7;



$night-rider: #303030;
$sunset-orange: #FA4940;
$grey: #777777;
$snow: #F9F9F9;
$whisper: #EBEBEB;
$whisper2: #F3EBEB;
$valencia: #E8514A;
$silver: #BCBCBC;
$coral-tree: #A96262;
