@import "mixins";
@import "props";

.table-of-content {
  @include top-left;
  position: sticky;
  width: 200px;
  top: 90px;
  pointer-events: none;
  margin-left: 20px;

  @include screen-under(1200px) {
    display: none;
  }

  .contents {
    @include padding(10px 0 10px 10px);
    @include border-left(1px solid $silver);
    pointer-events: all;
    position: sticky;
    overflow: auto;

    .content {
      font-size: 13px;
      font-weight: 400;
      color: $silver;
      display: block;
      word-break: break-word;

      &.active {
        color: $black;
      }

      &:not(.active):hover {
        color: $sunset-orange;

        @include screen-under(767px) {
          color: $silver;
          animation: table-of-content-blink .5s;
        }
      }

      &.h2 { @include padding-left(10px) }
      &.h3 { @include padding-left(20px) }
      &.h4 { @include padding-left(30px) }
      &.h5 { @include padding-left(40px) }
      &.h6 { @include padding-left(50px) }
    }

    .content + .content {
      margin-top: 10px;
    }
  }
}

@keyframes table-of-content-blink {
  0% {
    color: $silver;
  }

  50% {
    color: $sunset-orange;
  }

  100% {
    color: $silver;
  }
}
