---
layout: default
---
<!-- header -->
<header class="page-header post-header">
  <h1>
    {{ page.title }}
  </h1>

  <p class="description">
    {{ page.description }}
  </p>

  <p>
    {{ page.date | date: site.date_format }}
  </p>
</header>

<!-- content -->
<article itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post-contents" itemprop="articleBody">
    {{ content }}
  </div>

  <!--paginator-->
  {% assign previous_title = '이전 포스트가 없습니다' %}
  {% assign next_title = '다음 포스트가 없습니다' %}

  {% if page.previous.url %}
  {% assign previous_active = 'active' %}
  {% assign previous_title = page.previous.title %}
  {% endif %}

  {% if page.next.url %}
  {% assign next_active = 'active' %}
  {% assign next_title = page.next.title %}
  {% endif %}

  <div class="paginator">
    <div class="flex">
      <a class="left {{ previous_active }}" href="{{ page.previous.url | absolute_url }}">
        {{ previous_title }}
      </a>

      <a class="right {{ next_active }}" href="{{ page.next.url | absolute_url }}">
        {{ next_title }}
      </a>
    </div>
  </div>

  <!-- Disqus comments system -->
  <div id="disqus_thread"></div>

  <script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

    var disqus_config = function () {
      this.page.url = location.origin + location.pathname;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = location.origin + location.pathname; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function () { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://tk-blog.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>

  <noscript>
    Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
  </noscript>
</article>
