---
layout: default
---

<div class="projects">
  {% include projects-header.html %}

  <div class="container">
    {% capture url %}{{ "https://tk2rush90.github.io/blockudoku-demo/" }}{% endcapture %}
    {% capture name %}{{ "블로쿠도쿠 데모" }}{% endcapture %}
    {% capture thumbnail %}{{ "" }}{% endcapture %}
    {% include project-link.html %}

    {% capture url %}{{ "https://tk2rush90.github.io/lotto-v2" }}{% endcapture %}
    {% capture name %}{{ "로또번호추첨기" }}{% endcapture %}
    {% capture thumbnail %}{{ "https://tk2rush90.github.io/lotto-v2/assets/images/thumbnail.png" }}{% endcapture %}
    {% include project-link.html %}

    {% capture url %}{{ "https://tk2rush90.github.io/sacheon-bus" }}{% endcapture %}
    {% capture name %}{{ "사천버스정보시스템" }}{% endcapture %}
    {% capture thumbnail %}{{ "https://tk2rush90.github.io/sacheon-bus/assets/images/thumbnail.png" }}{% endcapture %}
    {% include project-link.html %}
  </div>
</div>
